@using BlogBlast.Data.Entities

<!-- Iterate through each post in the Posts array -->
@foreach (var post in Posts)
{
    <!-- Display each post with its details -->
    <div class="mb-3 d-flex justify-content-between">
        <div class="pr-3">
            <!-- Display the title of the post with a link to details page -->
            <h2 class="mb-1 h4 font-weight-bold">
                <a class="text-dark" href="posts/@post.Slug">@post.Title</a>
            </h2>
            <!-- Display the introduction of the post -->
            <p>
                @post.Introduction
            </p>
            <!-- Display the author's name and category of the post with links -->
            <div class="card-text text-muted small">
                @post.User.Name in <a href="@post.Category.Slug-posts" title="@post.Category.Name Posts">@post.Category.Name</a>
            </div>
            <!-- Display the published date of the post -->
            <small class="text-muted">@post.PublishedAt.ToDisplay()</small>
        </div>
        <!-- Display the image associated with the post -->
        <img height="120" src="@post.Image">
    </div>
}

@code {
    // Define a parameter to receive the array of posts to be displayed
    [Parameter]
    public Post[] Posts { get; set; } = [];
}
