@using BlogBlast.Data.Entities

<!-- Check if there are any posts to display -->
@if (Posts.Length > 0)
{
    <div class="row">
        <!-- Render the first featured post -->
        <div class="col-lg-6">
            <div class="card border-0 mb-4 box-shadow h-xl-300">
                <!-- Display the image of the first featured post -->
                <div style="background-image: url(@_First.Image); height: 150px; background-size: cover; background-repeat: no-repeat;"></div>
                <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
                    <!-- Display the title of the first featured post -->
                    <h2 class="h4 font-weight-bold">
                        <a class="text-dark" href="details">@_First.Title</a>
                    </h2>
                    <!-- Display the introduction of the first featured post -->
                    <p class="card-text">
                        @_First.Introduction
                    </p>
                    <div>
                        <!-- Display the author's name and publication date of the first featured post -->
                        <small class="d-block">@_First.User.Name</small>
                        <small class="text-muted">@_First.PublishedAt.ToDisplay()</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- Render the remaining featured posts -->
        <div class="col-lg-6">
            <div class="flex-md-row mb-4 box-shadow h-xl-300">
                @foreach (var post in Posts.Skip(1))
                {
                    <div class="mb-3 d-flex align-items-center">
                        <!-- Display the image of the current featured post -->
                        <img height="80" src="@post.Image">
                        <div class="pl-3">
                            <!-- Display the title of the current featured post -->
                            <h2 class="mb-2 h6 font-weight-bold">
                                <a class="text-dark" href="details">@post.Title</a>
                            </h2>
                            <div class="card-text text-muted small">
                                <!-- Display the author's name and category of the current featured post -->
                                @post.User.Name in <a href="/category">@post.Category.Name</a>
                            </div>
                            <!-- Display the publication date of the current featured post -->
                            <small class="text-muted">@post.PublishedAt.ToDisplay()</small>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    // Define a parameter to receive the array of posts to be displayed
    [Parameter]
    public Post[] Posts { get; set; } = [];

    // Define a variable to store the first post
    private Post _First = default!;

    // Method invoked when the component parameters are set
    protected override void OnParametersSet()
    {
        // Check if there are any posts
        if (Posts.Length > 0)
            // Assign the first post to the _First variable
            _First = Posts.First();
    }
}

