@page "/admin/manage-categories"
@using BlogBlast.Data.Entities
@using Microsoft.AspNetCore.Components.QuickGrid

@*^^ Disabled Pre-Rendering ^^*@
@rendermode @(new InteractiveServerRenderMode(prerender: false)) 

@* Injected the ICategoryService dependency into the component *@
@inject ICategoryService CategoryService

@* Render the admin header with a title and a button to add a new category *@
<AdminHeader Title="Manage Categories">
    <ActionButtons>
        <button type="button" class="btn btn-primary btn-sm" @onclick="() => _operatingCategory = new()">Add Category</button>
    </ActionButtons>
</AdminHeader>

@if (_isLoading)
{
    <LoadingState LoadingText="@_loadingText" />
}

@* Conditional rendering: If _operatingCategory is not null, render the form to edit a category *@
@if (_operatingCategory is not null)
{
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            @* Edit form for the category, with input fields for name and visibility on navbar *@
            <EditForm Model="_operatingCategory" OnValidSubmit="SaveCategoryAsync">
                @* Adding Category does not work, it works if I change OnValidSubmit to OnInvalidSubmit - NEED TO FIX!!!*@
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="shadow p-3" style="display: grid; grid-template-columns: auto 150px; grid-column-gap: 15px">
                    <div>
                        <label class="form-label">Category Name</label>
                        <InputText @bind-Value="_operatingCategory.Name" class="form-control form-control-sm" placeholder="Category Name" />
                        @* <InputText bind-value="_op" class="form-control form-control-sm" placeholder="Category Name" /> *@
                        <ValidationMessage For="() =>_operatingCategory.Name" />
                        <label class="form-label mt-2">
                            <InputCheckbox @bind-Value="_operatingCategory.VisibleOnNavbar" />
                            Visible on Navbar
                        </label>
                    </div>
                    <div class="d-flex flex-column">
                        @* Buttons to save or cancel editing the category *@
                        <button type="submit" class="btn btn-sm btn-success mb-2">Save</button>
                        <button type="button" class="btn btn-sm btn-danger" @onclick="() => _operatingCategory = null">Cancel</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}

@* Used the QuickGrid component to display categories in a grid format *@
<QuickGrid Items="@_categories" Class="table table-bordered table-striped table-hover"> @* Binded categories *@
    @* Defined columns for the grid, mapping properties of the Category class *@
    <PropertyColumn Property="@(c=> c.Id)" />
    <PropertyColumn Property="@(c=> c.Name)" />
    <PropertyColumn Property="@(c=> c.Slug)" />
    @* Defined a custom column for the "Visible on Navbar" property *@
        <TemplateColumn Title="Visible on Navbar">
        @* Check if VisibleOnNavbar property is true or false for each category *@
            @if(context.VisibleOnNavbar)
        {
            // If True, then display a checkbox with "Yes" label
            <label class="text-success">
                <input type="checkbox" @onchange="@(() => HandleVisibleOnNavbarChanged(context))" checked /> Yes
            </label>
        }else
        {
            // If False, then display a checkbox with "No" label
            <label class="text-danger">
                <input type="checkbox" @onchange="@(() => HandleVisibleOnNavbarChanged(context))" /> No
            </label>
        }
    </TemplateColumn>
    @* Defined a column for editing each category *@
    <TemplateColumn>
        <button type="button" class="btn btn-sm btn-primary" @onclick="() => HandleEditCategory(context)">Edit</button>
    </TemplateColumn>
</QuickGrid>

@code {
    private bool _isLoading;
    private string? _loadingText;

    private Category? _operatingCategory;

    // Initialise an empty queryable for categories
    private IQueryable<Category> _categories = Enumerable.Empty<Category>().AsQueryable();

    // Override the OnInitializedAsync lifecycle method to load/fetch categories from the service
    protected override async Task OnInitializedAsync() => await LoadCategoriesAsync();

    // Load / fetch the categories again to be applied after editing     
    private async Task LoadCategoriesAsync()
    {
        _loadingText = "Fetching Categories!";
        _isLoading = true;
        // Fetched categories asynchronously from the CategoryService and populate _categories
        _categories = (await CategoryService.GetCategoriesAsync()).AsQueryable();
        _isLoading = false;
    }

    // Method to handle the change of the "Visible on Navbar" property for a category
    private async Task HandleVisibleOnNavbarChanged(Category category)
    {
        _loadingText = "Saving Changes!";
        _isLoading = true;
        // Toggle the value of the VisibleOnNavbar property
        category.VisibleOnNavbar = !category.VisibleOnNavbar;
        // Save the updated category asynchronously using the CategoryService
        await CategoryService.SaveCategoryAsync(category);
        _isLoading = false;
    }

    // Method to handle editing a category
    private void HandleEditCategory(Category category) => _operatingCategory = category.Clone(); // To assign a deep clone of the given category to the _operatingCategory field

    // Method to save the Category
    private async Task SaveCategoryAsync()
    {
        // Checking if the category is going to be null
        if (_operatingCategory is not null)
        {
            _loadingText = "Saving Changes!";
            _isLoading = true;
            // Saving category
            await CategoryService.SaveCategoryAsync(_operatingCategory);
            // Reset the operating category back to null
            _operatingCategory = null;
            _isLoading = false;

            // Re-loading the categories after saving
            await LoadCategoriesAsync();
        }
    }
}
